## General housekeeping
*.bat
*.class
*.iml
*.ipr
*.iws
*.json
*.log
*.py
*.sh
*.txt
*.xml
*.jar
*.war
*.ear
.cache
libs/
natives/

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# virtual machine crash logs
hs_err_pid*

## Because Macs
.DS_Store
._*

## Gradle
.gradle/
build/
gradle/
gradlew
out/
output/
run/

## sublime
*.sublime*

## eclipse
.classpath
.metadata/
.project
.settings/
bin/
eclipse/

## Intellij IDEA
.idea/

## netbeans
nbbuild/
nbproject/

!gradle/
!gradlew
!gradlew.bat
